@use '/src/scss//abstracts/variables' as *;

.gameOverContainer {
  height: calc(100vh - 2.5rem);
  height: calc(var(--vh, 1vh) * 100 - 2.5rem);
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: .75rem;
}

.gameOverGrid {
  z-index: 20;
  width: 45rem;
  // height: calc(100vh - 2.5rem);
  // height: calc(var(--vh, 1vh) * 100 - 2.5rem);
  display: grid;
  grid-template-rows: minmax(min-content, max-content) 1fr;
  align-items: center;
  gap: .5rem;
}

.btn {
  margin: .5rem;
  background: transparent;
  border: 1px solid $colorPrimary;
  padding: .5rem 1rem;
  font-size: $fontXl;
  letter-spacing: 1px;
}

.active {
  border: 1px solid $colorAccentDark;
  color: $colorAccentBase
}

.btnSaved {
  margin: .5rem;
  background: transparent;
  border: 1px solid #109f10;
  padding: .5rem 1rem;
  font-size: $fontXl;
  letter-spacing: 1px;
  color: #09aa09;
}

.btnDisabled {
  color: #444;
  border: 1px solid #555;
}

.error {
  color: darkred;
}

.btnNav {
  color: blue
}

@media screen and (min-width: 768px) {
  .gameOverGrid {
    padding: 0 8rem;
  }
}

@media (hover: hover) {
  .btn:hover {
    color: $colorAccentBase;
    border-color: $colorAccentDark;
  }
}