@use '/src/scss/abstracts/variables' as *;

.pulse {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 4s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba($colorAccentBase, 0.7);
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($colorAccentBase, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($colorAccentBase, 0);
  }
}