.padding {
  padding: 0.75rem;
}

.textCenter {
  text-align: center;
}

.container {
  max-width: 100%;
}

.objectFit {
  object-fit: contain;
  object-position: center;
}

.relative {
  position: relative;
}

.height100vh {
  height: 100vh;
  height: calc((var(--vh, 1vh) * 100));
}

.fullscreen {
  height: calc(100vh - 2.5rem);
  height: calc((var(--vh, 1vh) * 100) - 2.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}