// Colors
$bgDarkest: #191a23;
$bgDarker: #2b2d42;
$bgDark: #141921;
$colorPrimary: #bbbbbb;
$colorAccentLight: #ef233c;
$colorAccentBase: #d90429;
$colorAccentDark: #a30000;

// Font Sizes
$fontXs: 0.75rem;
$fontSm: 0.875rem;
$fontBase: 1.2rem;
$fontLg: 1.125rem;
$fontXl: 1.25rem;
$font2Xl: 1.5rem;
$font3Xl: 1.875rem;
$font4Xl: 2.25rem;
$font5Xl: 3rem;
$font6Xl: 3.75rem;
$font7Xl: 4.5rem;
$font8Xl: 6rem;
$font9Xl: 8rem;

$navbarHeight: 2.5rem;